/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
/* Estilos para el navbar */
#navbar {
    background-color: rgba(255, 255, 255, 0.158); 
    transition: background-color 0.2s; /* Agregar una transición suave */
}

/* Estilos para el hero y la imagen del banner */
.hero {
    width: 100%;
    max-height: 40px;
    /*background: #333;
    color: white;*/
    text-align: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.hero img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Ajustes para el carrusel */
#myCarousel, .carousel-inner, .carousel-inner .item {
    width: 100%;
    display: flex;
}

.carousel-inner .item img {
        max-width: 100%;
        max-height: 450px; 
        object-fit: cover;
    }
    


/* Ajustes para el formulario y otros estilos */
.content {
    text-align: center;
    margin-top: 300px;
}

h1 {
    position:sticky;
}

/* Ajustes para los contenedores de entrada y seguro */
.input-container, .seguro-container, .valor-seguro-container {
    display: flex;
    margin-bottom: 10px;
}

/* Estilos para las etiquetas de entrada y seguro */
.input-container label, .seguro-container label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
}

/* Ajustes para los campos de entrada y select */
.input-container input, .seguro-container select, .valor-seguro {
    flex: 2;
    width: 100%;
}

/* Ajustes para el recuadro que muestra el valor del seguro */
.valor-seguro {
    color: beige;
    background: #5873ad;
    padding: 3px;
    text-align: center;
    width: 100%;
    margin-left: 65px;
}
